* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  transition: height 1s, margin 1s, padding 1s;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.card {
  margin: .5em auto;
  width: 50em;
  height: 40em;
  transition: all 0.2s;
  perspective: 9000px;
  position: relative;
  cursor: pointer;
}
.flip {
  visibility: hidden;
  position: absolute;
  height: 2em;
  width: 2em;
  fill: white;
  bottom: .5em;
  right: 1em;
  transition: all .4s;
  animation: fade-out 1s;
}
.front, .back {
  padding: 2em;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  text-align: left;
  backface-visibility: hidden;
  transform-style: preserve3d;
  transition: all 0.4s;
  color: white;
  font-size: 2em;
}
.front {
  background: #EA526F;
}
.back {
  background: #23B5D3;
  transform: rotateY(-180deg);
}
.flipped .back {
  transform: rotateY(0deg);
}
.flipped .front {
  transform: rotateY(180deg);
}

.katex-html {
  display: none;
}

header {
  display: flex;
  height: 80vh;
  width: 90vw;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 4em;
}
header h2 {
  color: gray;
  font-weight: 300;
}
header form {
  align-self: center;
}
header span {
  margin-right: 2em;
}
#url {
  height: 2.5em;
  width: 25em;
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#url:focus {
  border: 3px solid #555;
}

.annotations { 
  text-align: center;
  color: gray;
}

.annotations div {
  margin-top: .5em;
  margin-bottom: .5em;
}

.annotations div:hover {
  text-decoration: underline;
}

.hidden {
  opacity: 0;
  height: 0;
  margin: 0 !important;
  padding: 0;
  animation: fade-out 1s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}